*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root {
    --legenda: attr(subtitle)
}
body{
    background-color: black;
    color: white;
    padding-block: 8px;
}
.galeria{
    display: columns;
    columns: 3;
}
.galeria img{
    width: 100%;
    padding-block: 4px;
}
p{
    height: 3vh;
    opacity: 80%;
    content: var(--legenda);
    font-size: 1rem;
    font-family: sans-serif;
    text-align: center;
    font-weight: 800;
}